<% if should_i_display_the_navbar_background? == true %>
  <div class="navbar-height" style="margin-bottom: 5em;"></div>
<% end %>

<div class="navbar navbar-expand-sm navbar-light navbar-lewagon fixed-top">
  <%= link_to root_path, class: "navbar-brand" do %>
    <i class="fas fa-home navbar-item-color"></i>
  <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <!-- Button trigger modal -->
        <button class="navbar-item-color navbar-item-font box" data-toggle="modal" data-target="#exampleModal">Create Smoothie</button>
      </li>
    </ul>
  </div>
  
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <div class="container">
          <div class="container" style="width: 25em;">
            <span style="font-size: 2em;">
              <%= simple_form_for @smoothie do |f| %>
                <%= f.input :name , label: "Smoothie name" %>
                <%= f.submit class:'btn btn-primary' %>
              <% end %>
            </span>
          </div>
        </div>
        
      </div>
    </div>
  </div>
</div>