<link href="https://fonts.googleapis.com/css2?family=Cookie&display=swap" rel="stylesheet">
<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 col-md-8">

            <span style="font-size: 2em;">
                <%= simple_form_for [@smoothie, @dose] do |f| %>
                    <%= f.input :ingredient , collection: Ingredient.all%>
                    <%= f.input :description, label: 'Quantity'  %>
                    <%= f.submit "Add Ingredient", class: 'btn btn-primary' %>
                <% end %>
            </span>
        </div>
    </div>
</div>