<!-- banner -->
<div class="home-banner mb-5">
  <h1 class="ml3" style="font-size: 6em">Smoothies</h1>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
</div>

<div class="container mb-4" style="display: flex; justify-content: space-around;">

  <link href="https://fonts.googleapis.com/css2?family=Cookie&display=swap" rel="stylesheet">
  <div class="row">
    <% @smoothies.each do |smoothie| %>
      <div class="col-xs-12 col-sm-6 col-md-4 mb-3">
        <div class="card m-0 p-0">
              <img class="card-img-top crop" style="position: relative;" src="https://images.unsplash.com/photo-1505252585461-04db1eb84625?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=652&q=80" alt="Smoothies">
              <div class="card-body" style="text-align: center;">
                <%# Smoothie name %>
                <h5 class="card-title" style="font-family: cookie; font-size: 40px">
                  <%= smoothie.name %>
                </h5>                
                <%# button %>
                <div style="display: flex; justify-content: center;">
                  <%= link_to smoothy_path(smoothie) do %>
                    <div class="" id="btn" style="width:40%;">
                        <span class="noselect" style="font-size: 25px;">Recipe</span>
                        <div id="circle"></div>
                    </div>
                  <% end %>
                </div>
              </div>
                
        </div>
      </div>
    <% end %>
  <div>
</div>


