.navbar-lewagon {
  justify-content: space-between;
  background-color: transparent;
  transition: 0.5s background-color ease;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-lewagon-white {
  justify-content: space-between;
  background-color: rgba(255,255,255,0.9);
}

.navbar-item-color:hover {
  color: rgb(58, 56, 56);
  text-decoration: none;
}

.navbar-item-color {
  color: rgba(58, 56, 56, 0.521);
}

.navbar-item-font {
  font-family: "Nunito", "Helvetica", "sans-serif";
  font-weight: 600;
}